<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://www.jovian.com" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="https://jovian.com/learn" class="nav-link p-0 text-muted">Courses</a></li>
            <li class="nav-item mb-2"><a href="https://www.jovian.com/#events" class="nav-link p-0 text-muted">Events</a></li>
            <li class="nav-item mb-2"><a href="https://blog.jovian.com" class="nav-link p-0 text-muted">About</a></li>
            
          </ul>
        </div>
  